<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>Delivery</title>
  </head>
  
  <body>
  
        <% if (message != "") {%>
          <%- include('./components/messages', {message: message, type: type})  %>
        <% } %>
        
      <div class="auth-container">
        <form action="/cadastro" method="post">
          <div class="form-control">
            <label for="text">Nome:</label>
               <input type="text" name="nome" placeholder="Nome">
          </div>
          <div class="form-control">
              <label for="email">E-mail:</label>
              <input type="email" name="email" placeholder="E-mail">
          </div>
          <div class="form-control">
              <label for="password">Senha:</label>
              <input type="password" name="senha" placeholder="Senha">
          </div>
          <div class="form-control">
              <input type="password" name="confirmaSenha" placeholder="Confirmar senha">
          </div>
          <input type="submit" value="Cadastrar">
          <p>Já tem conta? <a href="/cadastro/login">Clique aqui</a></p>
      </form>
      </div>

      <script src="script.js"></script>
  </body>
         